<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 
    Из этого кода было удалено лишнее ручное создание бина RockMusic:
    <bean id="musicBean"
          class="ru.alishev.springcourse.RockMusic">
    </bean> 
    -->
    
    <!-- И добавлено нужное для Аннотаций.
    Сканирование компонентов в Спринге.
    Здесь указан тот пакет "ru.alishev.springcourse",
    в котором мы хотим чтобы Спринг
    сканировал классы на наличие аннотации Component.
    Это будет единственная строчка в нашем конфигурационном
    applicationContext.xml -->
    
    <context:component-scan base-package="ru.alishev.springcourse" />

</beans>