<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- В бине указываем именно класс, а не интерфейс, т.е. то из чего создаем 
		объекты! Указываем либо ClassicalMusic либо RockMusic -->
	<bean id="musicBean"
		class="ru.alishev.springcourse.ClassicalMusic">
		<!-- class="ru.alishev.springcourse.RockMusic"> -->

		<!-- <constructor-arg value="Neil"/> не используем, т.к. нет у нас конструкторов 
			в классах ClassicalMusic и RockMusic -->
	</bean>


</beans>